* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #181b4b;
  overflow-x: hidden;
  background: var(--bg-color);

  color: var(--text-color);

  transition: 0.3s ease;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: min(1200px, 92%);
  margin: auto;
}
