/* =========================
   JOBS SECTION
========================= */

.jobs {
  padding: 100px 0;

  background: var(--bg-color);

  transition: 0.3s ease;
}

.jobs-header p {
  color: #6c63ff;

  font-weight: 600;
}

.jobs-header h2 {
  font-size: 48px;

  color: #181b4b;
}

.jobs-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 25px;

  margin-top: 50px;
}

.job-card {
  background: var(--card-bg);

  border: 1px solid var(--border-color);

  padding: 30px;

  border-radius: 20px;

  transition: 0.3s ease;
}

.job-card.active {
  border: 2px solid #6c63ff;
}

.job-top {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.job-card h3 {
  color: #181b4b;

  font-size: 24px;
}

.job-card p {
  color: #666;

  margin: 20px 0;
}

.job-badge {
  background: #6c63ff;

  color: white;

  padding: 8px 14px;

  border-radius: 50px;
}

.job-card button {
  background: #6c63ff;

  color: white;

  border: none;

  padding: 12px 22px;

  border-radius: 30px;

  display: flex;

  gap: 10px;

  align-items: center;

  cursor: pointer;
}

/* DARK MODE ONLY */

[data-theme="dark"] .job-card h3 {
  color: #ffffff;
}

[data-theme="dark"] .job-card p {
  color: #bbbbbb;
}

[data-theme="dark"] .jobs-header h2 {
  color: #ffffff;
}
