.timeline-section {
  padding: 100px 80px;

  background: #1f1f39;

  color: white;
}

.timeline-header {
  text-align: center;

  max-width: 700px;

  margin: auto;

  margin-bottom: 70px;
}

.subtitle {
  display: inline-block;

  padding: 8px 18px;

  background: #6366f1;

  border-radius: 20px;

  font-size: 14px;

  letter-spacing: 1px;

  margin-bottom: 20px;
}

.timeline-header h2 {
  font-size: 48px;

  line-height: 1.2;

  margin-bottom: 20px;
}

.timeline-header p {
  color: #d4d4d4;

  line-height: 28px;

  font-size: 17px;
}

.timeline {
  position: relative;

  max-width: 900px;

  margin: auto;
}

.timeline::before {
  content: "";

  position: absolute;

  left: 25px;

  top: 0;

  width: 4px;

  height: 100%;

  background: #6366f1;

  border-radius: 10px;
}

.timeline-item {
  display: flex;

  align-items: flex-start;

  margin-bottom: 45px;

  position: relative;
}

.timeline-circle {
  width: 20px;

  height: 20px;

  background: #6366f1;

  border: 5px solid white;

  border-radius: 50%;

  margin-right: 35px;

  z-index: 2;

  margin-top: 15px;
}

.timeline-card {
  background: white;

  color: #222;

  padding: 25px;

  border-radius: 18px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  width: 100%;

  transition: 0.3s;
}

.timeline-card:hover {
  transform: translateY(-8px);
}

.timeline-card h3 {
  color: #6366f1;

  font-size: 20px;

  margin-bottom: 8px;
}

.timeline-card h4 {
  font-size: 24px;

  margin-bottom: 15px;

  color: #1f1f39;
}

.timeline-card p {
  color: #666;

  line-height: 28px;
}
