* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #fafbff;
  overflow-x: hidden;
}

.main-layout {
  margin-left: 270px;

  transition: 0.3s;
}

.main-content {
  margin-top: 90px;
}

section {
  padding: 100px 80px;
}

/* ---------- Tablet ---------- */

@media (max-width: 1024px) {
  .main-layout {
    margin-left: 0;
  }

  section {
    padding: 80px 40px;
  }
}

/* ---------- Mobile ---------- */

@media (max-width: 768px) {
  .main-layout {
    margin-left: 0;
  }

  .main-content {
    margin-top: 80px;
  }

  section {
    padding: 70px 20px;
  }
}
